<form class="form-horizontal" [formGroup]="form" (ngSubmit)="salvar()">
	<fieldset>

		<!-- Form Name -->
		<legend>{{title}}</legend>

		<!-- Text input-->
		<div class="form-group">
			<label class=" col-md-offset-2 col-md-1 control-label" for="nome">Nome:
			</label>
			<div class="col-md-6 col-md-offset-1">
				<input [(ngModel)]="contato.nome" formControlName="nome" id="nome"
					name="nome" type="text" class="form-control input-md" required>
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-offset-2 col-md-1 control-label" for="email">Email:
			</label>
			<div class="col-md-6 col-md-offset-1">
				<input [(ngModel)]="contato.email" formControlName="email"
					id="email" name="email" type="text" class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-offset-2 col-md-1 control-label" for="telefone">Telefone:</label>
			<div class="col-md-6 col-md-offset-1">
				<input [(ngModel)]="contato.telefone" formControlName="telefone"
					id="telefone" name="telefone" type="text"
					class="form-control input-md">
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-offset-2 col-md-1 control-label" for="celular">Celular</label>
			<div class="col-md-6 col-md-offset-1">
				<input [(ngModel)]="contato.celular" formControlName="celular"
					id="celular" name="celular" type="text"
					class="form-control input-md">
			</div>
		</div>
		<br />
		<!-- Button -->
		<div class="form-group">
			<div class="col-md-offset-1 col-md-10">
				<button [disabled]="form.invalid" type='submit' id="adicionar"
					name="adicionar" class="btn btn-block btn-primary">Adicionar</button>
			</div>
		</div>
		<!-- Button -->
		<div class="form-group">
			<div class="col-md-offset-1 col-md-10">
				<button routerLink='/menu/contatos' type='button' id="cancelar"
					name="cancelar" class="btn btn-block btn-danger">Cancelar</button>
			</div>
		</div>
		<!--listagem dos errors -->
		<div style="color:red;">
			<ul>
				<li [style.display]="mostraError('nome') ? 'block' : 'none'">Adicione um Nome.</li>
				<li [style.display]="mostraError('email') ? 'block' : 'none'">Adicione um Email valido.</li>
			</ul>
		</div>
	</fieldset>
</form>