<div class="container-fluid">
	<div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img [src]="logado.foto" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">{{ logado.nome }}</div>
					<div class="profile-usertitle-job">{{ logado.profissao }}</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active"><a href="" routerLink="home"> <i
								class="glyphicon glyphicon-home"></i> Home
						</a></li>
						<li><a href="" routerLink="contatos"> <i
								class="glyphicon glyphicon-user"></i> Agenda
						</a></li>
						<li><a href="" routerLink="options"> <i
								class="glyphicon glyphicon-wrench"></i> Options
						</a></li>
						<li><a href="" routerLink="about"> <i
								class="glyphicon glyphicon-flag"></i> About
						</a></li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
			<div class="profile-content">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
