<div clas="row">

    <table class="table table-striped table-bordered table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </tfoot>
        <tbody *ngFor="let contato of contatos">
            <tr>
                <td>{{contato.nome}}</td>
                <td>{{contato.email}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.celular}}</td>
                <td>
                    <a class="btn btn-primary btn-xs" [routerLink]="['/contatos', contato.id]" href="">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger btn-xs" (click)="deleteContato(contato)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-offset-9">
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a href="#" routerLink="/contatos/new" class="btn btn-lg btn-primary">Adicionar <span class="glyphicon glyphicon-plus-sign"></span></a>
        </div>
    </div>
</div>